.board button {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  border: 2px solid black; 
  margin: 1px;
}

h1{
  color: blue;
}

h2{
  color: red;
}

h3{
  color: orange;
}
